table {
   border-collapse: collapse;
   width: 100%;
}
th, td {
   padding: 10px;
   text-align: center;
   border: 1px solid #ddd;
}
th {
   background-color: #f4f4f4;
}
// calendar
h1 {
   color: red;
}

.calendar {
   margin-left: auto;
   margin-right: auto;
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
   background-color: red;
   transform: scale(1.2); /* Slightly enlarge the button */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.foodImage {
   height: 200px;
   width: 200px;
   background-color: lightblue;
}
